<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
  <h1><%= message %></h1>

  

  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/763fb5a2d82d448ca62baf4600f657c6_9366/Tenis_Gazelle_Bold_Preto_HQ6912_01_standard.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">TENIS GAZELLE BOLD
              R$699,99</h5>
            <p class="card-text">***UNISSEX, FORMATO GRANDE***
              Para pés mais finos, recomendamos que compre um tamanho menor do que o de costume.</p>
            <a href="produtos" class="btn btn-primary">Mostrar mais...</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/b0fd05cae60a48a6bd20c800cb0b8636_9366/Tenis_Gazelle_Azul_IG0666_HM1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">TÊNIS GAZELLE
              R$599,99</h5>
            <p class="card-text">***UNISSEX, FORMATO GRANDE***
              Para pés mais finos, recomendamos que compre um tamanho menor do que o de costume.</p>
            <a href="produtos" class="btn btn-primary">Mostrar mais...</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/436e87f485054d24b293e199d99cd9cd_9366/Tenis_Adizero_Prime_X_2.0_STRUNG_Verde_HP9708_01_standard.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">TÊNIS ADIZERO PRIME X 2.0 STRUNG</h5>
            <p class="card-text">***UNISSEX, FORMATO GRANDE***
              Para pés mais finos, recomendamos que compre um tamanho menor do que o de costume.</p>
            <a href="produtos" class="btn btn-primary">Mostrar mais...</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>


