<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/produto.css">

  
  </head>

  
  
<body>
  <div class = "produtos">
  <button>Adicionar ao carrinho</button>
  <div class name="title">
  <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://cdn.icon-icons.com/icons2/2783/PNG/512/hotdeal_square_fire_icon_177171.png" alt="Logo" width="40" height="30" class="d-inline-block align-text-top">
          DESEMBRULHE | PRESENTES DE NATAL  EM ATÉ R$150 OFF*
        </a>
      </div>
    </nav>
  
  
  <div class="text-center">

    <div class="card" style="width: 50rem;">
      <div class="img-container">
      <img src=" /imagens/<%= produto.imagem %> " class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= produto.nome %></h5>
        <p class="card-text"><%= produto.preco %></p>
        <p class="card-text"><%= produto.descricao %></p>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>



  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
