<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text" href="../public/style.css">
</head>
<body>
  <h1><%= message %></h1>
  <h2 class="h">Produtos</h2>
  <ul>
    <li>Produto um</li>
    <li>Prduto dois</li>
  </ul>
</body>
</html>